# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# FAISS vector database
vectorstore/

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

documents/*.pdf